:root {
    --primary-background: #1e1e2e;
    --accent-color: #cba6f7
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-background);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel,
.right-panel {
    width: 50%;
    height: calc(100% - 2rem);
}

.left-panel {
    background-color: var(--primary-background);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 2rem;
}

.right-panel {
    background-color: var(--primary-background);
    padding: 0 2rem;
    padding-top: 2rem;
}

/* Styling the url input area */

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 5%;
}

input,
select {
    border: none;
    outline: none;
    border: 1px solid gray;
}

input:focus,
select:focus {
    outline: none;
    height: 100%;
}

.search-box input,
.search-box select {
    background-color: #1e1e2e;
    color: white;
    font-size: 16px;
    padding: 0.9rem 10px;
}

.request-method {
    border-radius: 6px 0 0 6px;
    min-width: 20%;
}

#request-method {
    min-width: 100%;
}

.url-input {
    min-width: 60%;
}

#url-input {
    min-width: 100%;
}

.send-button {
    min-width: 20%;
}

#send-button {
    min-width: 100%;
    background-color: var(--accent-color);
    color: var(--primary-background);
    border-radius: 0 6px 6px 0;
}

/* Styling the tabs */

.tabs-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 1.2rem;
}

.tab {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    cursor: pointer;
}

.active-tab {
    color: var(--accent-color);
}

.tab::after {
    content: "";
    width: 140%;
    height: 2px;
}

.active-tab::after {
    background-color: var(--accent-color);
}

/* Making the query containers invisible here, to be made visible on demand by js */
.input-container {
    display: none;
}

/* Styling the query container */

.active-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding-left: 2rem;
}

.container-title {
    font-weight: lighter;
    padding-top: 1rem;
}

/* Styling each row of Input */

.query-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
}

.query-row>input {
    background-color: var(--primary-background);
    border: none;
    color: white;
    font-size: 20px;
}

input.query-key-1,
input.query-value-1 {
    width: 35%;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid white;
}

input.delete-row,
input.add-row {
    font-size: 26px;
}

/* Styling the top bar on the right */

.right-top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
    gap: 2rem;
}

.response-container {
    font-size: 20px;
}

/* Responsive */
@media (max-width: 990px) {
    body {
        flex-direction: column;
        overflow: hidden;
    }

    .left-panel,
    .right-panel {
        width: 100%;
        height: 50%;
    }

}

/* Utility classes */
.disabled {
    color: gray !important;
}